# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build output
dist
*.tsbuildinfo

# Dependencies
node_modules
.pnpm-store
jspm_packages

# Optional caches
.npm
.eslintcache

# Editors
.idea
.vscode
.DS_Store
